//post-expire css 设置

.post-expire-danger
    margin: 1rem 0;
    margin-left: 0 !important;
    padding: 1.5rem 0.5rem;
    background-color: rgba(230,15,15,0.15);
    border-left: 0.25rem solid rgba(230,15,15,0.8);

.post-expire-warning
    margin: 1rem 0;
    margin-left: 0 !important;
    padding: 1.5rem 0.5rem;
    background-color: rgba(255,195,0,0.15);
    border-left: 0.25rem solid rgba(255,195,0,0.8);

.post-expire-info
    margin: 1rem 0;
    margin-left: 0 !important;
    padding: 1.5rem 0.5rem;
    background-color: rgba(52,152,219,0.15);
    border-left: 0.25rem solid rgba(52,152,219,0.8);

.post-no-warning
    margin: 1rem 0;
    margin-left: 0 !important;
    padding: 1.5rem 0.5rem;
    background-color: rgba(40,180,99,0.15);
    border-left: 0.25rem solid rgba(40,180,99,0.8);
