script(src='https://gcore.jsdelivr.net/npm/dayjs/dayjs.min.js')
script.
    const updateDate = dayjs(!{page.updated}) 
    const diffDays = dayjs().diff(updateDate, 'day')

    if (diffDays >= 180)
    document.write (
        '<div class="post-no-warning ">' + '本文最后更新于' + diffDays + '天前(' + updateDate.format('YYYY-MM-DD') + ')，但文章时效性不受影响。' + '</div>')
    

