script(src='https://gcore.jsdelivr.net/npm/dayjs@1.11.20/dayjs.min.js')
script.
    const postDate = dayjs(!{page.date})
    const updateDate = dayjs(!{page.updated}) 
    const compareDate = dayjs(!{page.raw_updated}).isValid() ? updateDate : postDate
    const diffDays = dayjs().diff(compareDate, 'day')


    if (diffDays >= 180)
    document.write (
        '<div class="post-no-warning ">' + '本文最后更新于' + diffDays + '天前(' + updateDate.format('YYYY-MM-DD') + ')，但文章时效性不受影响。' + '</div>')
    
    //console.log('脚本加载成功！发表时间: ' + postDate.format('YYYY-MM-DD') + '，最后更新时间: ' + updateDate.format('YYYY-MM-DD') + '，距离现在: ' + diffDays + '天');    

