script(src='https://gcore.jsdelivr.net/npm/dayjs/dayjs.min.js')
script.
    const updateDate = dayjs(!{page.updated})
    const diffDays = dayjs().diff(updateDate, 'day')

    if(diffDays >= 720) {
        document.write(
            '<div class="post-expire-danger">' + '本文最后更新于' + diffDays + '天前(' + updateDate.format('YYYY-MM-DD') + ')，其中的信息可能已经失效或与当前技术严重不符，强烈建议进行甄别。' + '</div>')
    }
    else if (diffDays >= 360) {
        document.write(
            '<div class="post-expire-warning">' + '本文最后更新于' + diffDays + '天前(' + updateDate.format('YYYY-MM-DD') + ')，其中的信息与现阶段相比出现偏差，建议进行甄别。' + '</div>')
    }
    else if (diffDays >= 180) {
        document.write(
            '<div class="post-expire-info">' + '本文最后更新于' + diffDays + '天前(' + updateDate.format('YYYY-MM-DD') + ')，其中的信息可能已经有所发展，请谨慎参考。' + '</div>')
    }
  

